---

---

 
<div class="footer w-full h-auto bg-[#b89f69] py-[50px]">
    <div class="row-footer w-[90%] mx-auto flex justify-center items-center">
        <p class="text-white text-4xl">Todos los Derechos Reservados - Desarrollos Tiva 2024</p>
    </div>
</div>